.box {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5px;
  height: 200px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  align-content: start;
  margin: 20px;
}
.buttom {
  margin-bottom: 20px;
  margin-top: 20px;
}
